//backgroud

$backgroudGray-primary: #e3eef8;
$backgroudGray-secundary: #E5E5E5;

$backgroudBlue-primary: #258AFF;

//color patterns
$black: #000000;
$white: #ffffff;

//colors Grey
$colorGray-primary: #666666;
$colorGray-secundary: #4e4e4e;
$colorGray-tertiary: #e4e4e4;
