.cards-home {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
}
#cardsHomeFind{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  justify-content: center;
  align-items: center;
}
