@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

.container-app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 100%;
  margin: 50px 0px;
  padding: 50px;

  .container-text {
    grid-column: 2/3;
    margin-top: 20px;
    padding: 16px;
    .label-title {
      letter-spacing: 3px;
      font-size: 1.2rem;
      margin-bottom: 10px;
      font-family: $fontKarla-primary;
    }
    .title {
      font-size: 2rem;
      margin-bottom: 10px;
      font-family: $fontKarla-primary;
    }
    .body {
      font-size: 1.4rem;
      margin-bottom: 30px;
      font-family: $fontKarla-primary;
    }
  }
  .container-smartphone {
    display: flex;
    justify-content: center;
    margin-left: 5rem;
    .index-1 {
      position: relative;
      z-index: -1;
      max-height: 45rem;

    }
    .index2 {
      max-height: 40rem;
      position: absolute;
    }
  }
}
.cards-home {
  &.moreApp {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: initial;
  }
}
@media (max-width: 600px){
  .contentTextApp{
    grid-row: 2/3;
  }
  .container-smartphone {
    grid-row: 1/2;
  }
}
